<form method="post" enctype="multipart/form-data" action="http://localhost:3001/sr/upload">
    <input type="file" name="file">
    <input type="submit" value="Submit">
</form>
<h1>
    <% file_location.forEach(function(loc) { %>
    <%= loc %>
    <% }); %>

</h1>